@import url("https://fonts.googleapis.com/css?family=Rajdhani:400,600,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");
body {
    color: #797979;
    font-family: Roboto, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.667;
}
a:hover {
    text-decoration: none;
}
button {
    cursor: pointer;
}
button:focus {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

p{
    font-size: 16px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Rajdhani, sans-serif;
    color: #3a414e;
    line-height: 1.25;
}
.h1,
h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
}
@media (min-width: 600px) {
    .h1,
    h1 {
        font-size: 50px;
    }
}
.h2,
h2 {
    font-size: 34px;
    font-weight: 700;
}
@media (min-width: 1000px) {
    .h2,
    h2 {
        font-size: 36px;
    }
}
.h3,
h3 {
    font-size: 20px;
    font-weight: 600;
}
@media (min-width: 1000px) {
    .h3,
    h3 {
        font-size: 22px;
    }
}
.pb-85px {
    padding-bottom: 45px;
}
@media (min-width: 1000px) {
    .pb-85px {
        padding-bottom: 85px;
    }
}
.section-margin {
    margin: 60px 0;
}
@media (min-width: 1000px) {
    .section-margin {
        margin: 100px 0;
    }
}
@media (min-width: 1200px) {
    .section-margin {
        margin: 135px 0;
    }
}
.section-padding {
    padding: 60px 0;
}
@media (min-width: 1000px) {
    .section-padding {
        padding: 100px 0;
    }
}
@media (min-width: 1200px) {
    .section-padding {
        padding: 135px 0;
    }
}
.section-padding--small {
    padding: 60px 0;
}
@media (min-width: 1000px) {
    .section-padding--small {
        padding: 100px 0;
    }
}
.bg-magnolia {
    background: #faf9ff;
}
@media (max-width: 991px) {
    .left_side_text {
        margin-bottom: 50px;
    }
}
@media (max-width: 575px) {
    .p_120 {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .main_title h2 {
        font-size: 25px;
    }
}
.hero-banner {
    position: relative;
    background: #22195b;
    background-size: cover;
    padding: 90px 0 90px 0;
    z-index: 1;
}
.hero-banner__content img{
    max-width: 200px;
    margin-bottom: 30px;
}
.banner-title{
    font-size: 50px;
}

.pt-15p{
    padding-top: 15%;
}
@media (min-width: 600px) {
    .hero-banner {
        padding: 90px 0 90px 0;
    }
    
}

@media (max-width:480px){
    .banner-title{
        font-size: 40px;
    }
}
@media (min-width: 991px) {
    .hero-banner {
        padding: 90px 0 90px 0;
    }
}
@media (min-width: 1200px) {
    .hero-banner {
        padding: 90px 0 90px 0;
    }
}
.hero-banner__img {
    position: relative;
}
@media (min-width: 1200px) {
    .hero-banner__img img {
        position: absolute;
        top: 0;
        left: -110px;
    }
}

.video-frame{
    margin-bottom: -19%;
}
.hero-banner__content h1 {
    color: #fff;
    margin-bottom: 22px;
}
.hero-banner__content p {
    color: #fff;
    margin-bottom: 45px;
}
.hero-banner::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60%;
    background-size: cover;
    z-index: -1;
}
.hero-banner--sm {
    padding: 0;
    height: 300px;
}
.hero-banner--sm::after {
    height: 100%;
}
@media (min-width: 1000px) {
    .hero-banner--sm {
        height: 500px;
    }
}
.hero-banner--sm__content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin-top: 20px;
    text-align: center;
}
@media (min-width: 600px) {
    .hero-banner--sm__content {
        margin-top: 40px;
    }
}
.hero-banner--sm__content > * {
    color: #fff;
}
.hero-banner--sm__content h3 {
    font-size: 27px;
    margin-bottom: 0;
}
.hero-banner--sm__content h1 {
    margin-bottom: 10px;
}
.hero-banner--sm__content h4 {
    font-size: 18px;
}
.section-intro {
    max-width: 950px;
    margin-right: auto;
    margin-left: auto;
}
.section-intro__title {
    font-weight: 700;
    color: #3a414e;
    margin-bottom: 10px;
}
.section-intro__subtitle {
    color: #797979;
    margin-bottom: 0;
}
.card-feature {
    padding: 30px 35px;
    border: 0;
    border-radius: 0;
    background: #faf9ff;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    height: 100%;
}
.card-feature__icon {
    margin-bottom: 12px;
}
.card-feature__icon i,
.card-feature__icon span {
    font-size: 30px;
    color: #21146a;
}
.card-feature__title {
    font-size: 36px;
    font-weight: 600;
}
.card-feature__subtitle {
    margin-bottom: 0;
}
.card-feature:hover {
    background: #fff;
    -webkit-box-shadow: 0 10px 20px 0 rgba(33, 20, 106, 0.1);
    box-shadow: 0 10px 20px 0 rgba(33, 20, 106, 0.1);
}
.about__content h2 {
    margin-bottom: 20px;
}
.about__content p {
    margin-bottom: 38px;
}
.offer-single {
    margin-bottom: 30px;
}
@media (min-width: 991px) {
    .offer-single {
        margin-bottom: 50px;
    }
}
.offer-single__content {
    border: 0;
    border-radius: 0;
    background: #faf9ff;
    padding: 30px 23px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.offer-single__content h4 {
    font-size: 22px;
    font-weight: 600;
}
.offer-single__content p {
    margin-bottom: 0;
}
.offer-single__content:hover {
    background: #fff;
    -webkit-box-shadow: 0 10px 20px 0 rgba(33, 20, 106, 0.1);
    box-shadow: 0 10px 20px 0 rgba(33, 20, 106, 0.1);
}

.offer-single__content.white-bg {
    background: #fff;
    -webkit-box-shadow: 0 10px 20px 0 rgba(33, 20, 106, 0.1);
    box-shadow: 0 10px 20px 0 rgba(33, 20, 106, 0.1);
}
.offer-single__icon {
    display: inline-block;
    margin-bottom: 15px;
}
.offer-single__icon i,
.offer-single__icon span {
    font-size: 30px;
    color: #21146a;
}
@media (min-width: 991px) {
    .offer-single__img {
        position: absolute;
        width: 100%;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}
@media (min-width: 991px) and (min-width: 1200px) {
    .offer-single__img {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        top: 50px;
        left: 100px;
    }
}
@media (min-width: 991px) {
    .offer-single-wrapper .offer-single:nth-child(even) {
        position: relative;
        top: 40px;
    }
}
@media (min-width: 1200px) {
    .solution__img {
        position: relative;
    }
}
@media (min-width: 1200px) {
    .solution__content {
        padding-left: 30px;
        padding-right: 45px;
    }
}
.solution__content h2 {
    margin-bottom: 20px;
}
.solution__content p {
    margin-bottom: 30px;
}
.card-pricing {
    background: #faf9ff;
    border-radius: 3px;
    border: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.card-pricing:hover {
    background: #fff;
    -webkit-box-shadow: 0 20px 25.5px 4.5px rgba(33, 20, 106, 0.1);
    box-shadow: 0 20px 25.5px 4.5px rgba(33, 20, 106, 0.1);
}
.card-pricing:hover .button {
    background: #21146a;
    color: #fff;
}
.testimonial {
    max-width: 970px;
    margin-right: auto;
    margin-left: auto;
}
.testimonial__img {
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 50px;
    object-fit: cover;
    z-index: 5;
}
.testimonial__content {
    background: #fff;
    padding: 50px 10px 35px 10px;
    position: relative;
}
@media (min-width: 1000px) {
    .testimonial__content {
        padding: 50px 20px 35px 20px;
    }
}
.testimonial__content h3 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 20px;
}
.testimonial__content p {
    font-size: 14px;
}
.testimonial__i {
    font-style: italic;
    margin-bottom: 0;
}
.testimonial__icon {
    font-size: 173px;
    color: rgba(119, 119, 119, 0.1);
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 120px;
}
.contact-banner {
    position: relative;
}
.contact-banner a,
.contact-banner h1,
.contact-banner h4 {
    text-transform: uppercase;
    color: #fff;
}
.contact-banner h4 {
    font-size: 18px;
    margin-bottom: 15px;
}
.contact-banner h1 {
    font-size: 37px;
    margin-bottom: 5px;
}
@media (min-width: 992px) {
    .contact-banner h1 {
        font-size: 48px;
    }
}
.button {
    display: inline-block;
    border: 1px solid transparent;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 500;
    padding: 12px 30px;
    border-radius: 30px;
    background-color: #fff;
    color: #21146a;
    color: #3a414e;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.button i,
.button span {
    margin-left: 5px;
}
@media (min-width: 900px) {
    .button {
        padding: 12px 45px;
    }
}
.button:hover {
    background-color: transparent;
    border-color: #21146a;
    color: #002;
}
.button.bg:hover {
    border-color: #fff;
    color: #fff;
}
.button-light {
    background-color: transparent;
    border-color: #21146a;
}
.button-light:hover {
    background-color: #21146a;
    color: #fff;
}



.testimonial__item{
    max-width: 650px;
    margin: auto;
}


.button-card{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.section2-bg{
    background:linear-gradient(0deg, #e81872bd, #e81872bd), url(/images/pexels-quintin-gellar-6574072.jpg);
    background-size: cover;
    color: white;
    background-position: center center;
}
.section2-bg p,
.section2-bg h2{
    color: white;
}

.owl-carousel .owl-video-tn {
    background-size: cover;
    padding-bottom: 56.25%; /* 16:9 */
      padding-top: 25px;
  }
  
  .owl-video-frame {
      position: relative;
      padding-bottom: 56.25%; /* 16:9 */
      padding-top: 25px;
      height: 0;
  }
  .owl-video-frame iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  }
  
  .owl-dots {
    text-align: center;
    margin-top: 20px;
  }
  
  .owl-dot {
    display: inline-block;
  }
  
  .owl-dot span {
    width: 11px;
    height: 11px;
    background-color: #ccc;
    border-radius: 50%;
    display: block;
    margin: 5px 3px;
  }
  
  .owl-dot.active span {
    background-color: #000;
  }

  .video-slider-wrapper{
      max-width: 600px;
      margin: auto;
  }

  .hero-banner__content .item-video p{
    margin:5px 10px;
    text-transform: capitalize;
    font-style: italic;
    font-size: 12px;
  }


  #carousel-custom-dots .owl-dot{
      cursor:pointer;
      margin: 0px 5px;
      border: 3px solid transparent;
      opacity: 0.5;
      transition: 0.3s;
      
  }
  #carousel-custom-dots .owl-dot:hover{
  
      opacity: 1;
      
  }
  #carousel-custom-dots .owl-dot.active{
    opacity: 1;
  }

  #carousel-custom-dots .owl-dot img{
    width: 40px;
      height: 40px;
      object-fit: cover;
      transition: 0.3s;
  }
  #carousel-custom-dots .owl-dot img:hover{
      transform: scale(1.1);
  }

  
  #carousel-custom-dots{

      padding: 0px;
  }